@import "2020base";
@import "2020fonts";

.navbar {
  box-shadow: $slp-box-shadow;

  .navbar-left {
    fill: unset;
  }
}

.container.container2020 a {
  text-decoration: none;
}

.header {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid $border-color;

  .col-md-5 {
    img {
      margin-left: 30px;
      margin-top: $spacing-unit-sm;
    }
  }
}

.project-background {
  .container.container2020 {
    padding-bottom: 0;
  }
}

.btn.cta-btn {
  margin-left: 0;
}

.container2020 h3 {
  margin-bottom: 30px;
}

.end-ctas .container2020 {
  padding-bottom: 0;

  h2 {
    margin-bottom: $spacing-unit-xs;
  }
}

.container2020 h4 {
  margin-bottom: $spacing-unit-xxs;
  margin-top: $spacing-unit-sm;
}

.key-takeaways .container.container2020 {
  padding-top: 0;
}

.content {
  background: $color-gray-super-light;
}

@media (max-width: 959px) {

  .container.container2020 p {
    font-size: 18px;
  }

  .header .col-md-5 {
    width: 100%;
    text-align: center;

    img {
      margin: 0 auto;
      max-width: 400px;
    }
  }

}
