---
title: GitLab for Open Source
description: "Open Source organizations can access our top tier features, plus 50,000 CI pipeline minutes, for free. Find out more!"
twitter_image: "/images/opengraph/gitlab-open-source.png"
twitter_image_alt: "Graphic stylized to represent open source"
twitter_site: "gitlab"
twitter_creator: "gitlab"
suppress_header: true
canonical_path: "/solutions/open-source/"
extra_css:
  - open-source.css
  - open-source-partners-common.css
  - faq.css
extra_js:
  - open-source.js
  - libs/tweenmax.min.js
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    = image_tag "/images/icons/explore-open-source.svg", alt: "Gitlab explore open source svg"
    %h1 GitLab for Open Source
    %p GitLab believes in a world where everyone can contribute and we like to support those who share our mission. Open Source organizations can access our top tier features, plus 50,000 CI pipeline minutes, for free.
    = link_to "Join the GitLab for Open Source program", "/solutions/open-source/join", class: "btn cta-btn accent"

.toc-links
  = link_to "About", "#about"
  = link_to "FOSS spotlight", "#foss-spotlight"
  = link_to "Popular projects", "#popular-projects"
  = link_to "Resources", "#resources"

.wrapper.wrapper--large-fonts
  #content.devops-content
    .wrapper.container.js-in-page-nav-group{role: "main"}
      .row
        .col-md-10.col-md-offset-1
          %h2.u-text-brand About
          %p GitLab exists today in large part thanks to the work of a vast community of open source contributors around the world. As a company, we are deeply committed to being a <a href="/company/stewardship/" target="_blank">good steward of the GitLab Open Source project</a>.
          
          %p To give back to this community who gives us so much, we want to enable teams be more efficient, secure, and productive. We believe the best way for them to achieve this is by using as many of the capabilities of GitLab as possible.

          %p We offer our top tiers, plus 50K CI minutes per month, for free to qualifying open source projects and organizations.
      %hr.divider/
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          %h3 Grow your FOSS project 
          %h4 Use a single, user-friendly platform
          %p GitLab helps you onboard newcomers to your project faster and more easily than ever with a single tool for all aspects of your software development lifecycle.

          %p Not only created for developers, GitLab enables cross-functional team collaboration. It's a perfect tool for Design, Documentaion, Engagement, and Governance teams alike. GitLab's user-friendly and inclusive design makes it easier to attract and retain contributors from diverse backgrounds to help your open source project thrive.
        .hidden-xs.hidden-sm.col-md-4
          = image_tag "/images/illustration_code.png", alt: "A single DevOps platform", style: "margin-top: 80px;"
      %hr.divider/
      .row
        .hidden-xs.hidden-sm.col-md-4.col-md-offset-1
          = image_tag "/images/ci/ci-cd-integrated_2x.png", class: "hidden-xs", alt: "World-class CI/CD and Security"
        .col-xs-12.col-md-6
          %h3 World-class CI/CD and Security
          %p Continuous Integration (CI) and Continuous Delivery (CD) help you cut down on manual work and increase automation. That way, you can build and deploy great quality software more quickly. 
          
          %p Since <a href="/stages-devops-lifecycle/continuous-integration/" target="_blank">GitLab CI</a> is fully integrated, it allows you to get set up faster and provides a seamless experience. GitLab for Open Source members get 50K CI minutes per month for free.
      .row
        .col-md-10.col-md-offset-1
          %p Using GitLab CI with one of our top tiers provides you with best-in-class functionality. However, if your FOSS community is using another source code management platform, we still encourage you to use GitLab CI! With Security baked into our CI pipelines, you'll see why more and more FOSS projects are joining the #movingtogitlab train.

          %p Still deciding? We encourage you to <a /devops-tools/" target="_blank">learn more about how GitLab CI compares</a> to other popular CI providers such as Travis CI and Circle CI and see for yourself.
          
          %h3 Choose the GitLab distribution that's right for your FOSS community
          %p You can choose to host your open source project on GitLab.com or self-host your own instance. Each of these options has <a href="/features/" target="_blank">powerful features</a> to enable you to develop enterprise-grade software at scale. 
          
          %p In alignment with our <a href="/handbook/values/#transparency" target="_blank">Transparency value</a>, all of GitLab's code is source-available and the open source components of GitLab are published under an <a href="https://opensource.org/licenses/MIT" target="_blank"> MIT open source license</a>. The <a href="/install/ce-or-ee/" target="_blank">open source distribution</a> is <a href="/install/?version=ce" target="_blank">available to dowload here</a> and contains all the same features as our Free tier. 
          
          %p <a href="/solutions/open-source/partners/" target="_blank">GitLab's Open Source Partners</a>, are leveraging GitLab's top tier in both SaaS and self-managed instances, as well as leveraging the power of GitLab's open source distribution. They serve as examples of how large open source communities can thrive with GitLab.

          %p If you have any questions, please reach out to us via opensource@gitlab.com.

      .row
        .col-md-10.col-md-offset-1
          .content.spotlight#foss-spotlight
            %h2.u-text-brand FOSS Spotlight: GNOME
            %iframe{ src: "https://www.youtube.com/embed/v6GTrbfe9xk", allowfullscreen: "" }
          .content.popular-projects#popular-projects

      .row
        .col-md-10.col-md-offset-1
          %h2.u-text-brand Popular projects
          %p Meet our Open Source Partners! Together, we work to improve GitLab for FOSS communities. <a href="https://about.gitlab.com/solutions/open-source/partners/" target="_blank">Learn more and apply to become a member</a>.
          = partial "/includes/community/open-source-partners-logos"
          = link_to "More open source projects", "/solutions/open-source/projects", class: "btn cta-btn purple margin-top20"

.gitlab-content-container.open-source-content
  .content.quote
    %blockquote.lg
      .blockquote-background#blockquote-background
      .flex-container.flex-column
        %p "Free software enables and empowers us as a society to build upon past knowledge and create greater and more impactful technologies."
        %p.author
          Carlos Soriano
          %br Board of Directors, GNOME

  .row
    .content.opensource-resources#resources
      .col-md-10.col-md-offset-1
        %h2.u-text-brand Resources

        %p We think there’s something magical about building free software with free software.
      .content-section-title-container
        
      .flex-container
        = link_to "/community", class: "tile tile-animated" do
          = image_tag "/images/icons/solid-icons/community-icon.svg", class: "tile-icon margin-bottom30", alt: "Gitlab community icon svg"
          .tile-content
            %h3 Community Resources
        %a.tile.tile-animated{ href: "https://gitlab.com/explore/projects/starred", target: "_blank" }
          = image_tag "/images/icons/solid-icons/trending-icon.svg", class: "tile-icon margin-bottom30", alt: "Gitlab trending icon svg"
          .tile-content
            %h3 Trending Projects
      .flex-container
        %a.tile.tile-animated{ href: "https://gitlab.com/gitlab-org/gitlab-development-kit/", target: "_blank" }
          = image_tag "/images/downloads/logo.svg", class: "tile-icon margin-bottom30", alt: "Gitlab logo svg"
          .tile-content
            %h3 GitLab Development Kit
        = link_to "/blog/2017/11/01/gitlab-switches-to-dco-license", class: "tile tile-animated" do
          = image_tag "/images/icons/solid-icons/docs-icon.svg", class: "tile-icon margin-bottom30", alt: "Gitlab docs icon svg"
          .tile-content
            %h3 Why we switched to DCO
